@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
:root {
  --background: #ffffff;
  --foreground: #171717;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background-color: white;
  color: black;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.root-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Make the page span the full viewport height */
}

.page-content {
  flex: 1; /* Allow the content to grow and push the footer to the bottom */
}

.footer {
  background-color: rgb(31, 41, 55);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px; /* Fixed height */
  flex-shrink: 0; /* Prevent the footer from shrinking */
}

.footer-text {
  color: white;
  font-size: 16px;
  font-weight: 550;
  margin: 0;
}
/* First Section: Large Image + title */
#title {
  position: relative;
  background-image: url("/leaves.jpeg");
  height: 95vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Inter", "Poppins", serif;
  font-weight: 800;
}

#title-main {
  font-size: 300px;
}

.title-content {
  text-align: center; /* Ensures "Connect and showcase" stays centered under "FindBlue" */
  display: flex;
  flex-direction: column; /* Stacks "FindBlue" and "Connect and showcase" vertically */
  align-items: center; /* Centers them horizontally */
}

#title-quote {
  font-size: 48px; /* Adjust size as needed */
  font-weight: 600;
  margin-top: -50px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 42%,
    rgba(255, 203, 5, 1) 63%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Cover the full width of the section */
  height: 100%; /* Cover the full height of the section */
  background-color: rgba(
    0,
    0,
    0,
    0.6
  ); /* Semi-transparent black for the haze */
  z-index: 1; /* Place the overlay above the background but behind content */
  pointer-events: none; /* Allow interactions to pass through */
}
#title > * {
  position: relative;
  z-index: 2; /* Keep content above the overlay */
}
#title2 {
  width: 100%;
  font-size: 200px;
  display: flex; /* Use flexbox to align items */
  justify-content: center; /* Center the items horizontally */
  align-items: center; /* Center items vertically */
  color: white;
  font-family: "Inter", "Poppins", serif;
  background-image: url("/michigan_sign_fixed.jpg"); /* Replace with your image path in the public directory*/
  background-size: cover !important; /* Ensures the image covers the entire div*/
  background-position: center !important; /* Centers the image*/
  height: 40%; /* Ensures the div takes up the full height of the viewport*/
  display: flex;
  margin-bottom: 200px;
}

.people-icon {
  font-size: 5rem; /* Adjust the size as needed */
  vertical-align: middle; /* Aligns the icon with the text */
  color: #b57506;
  margin-left: 30px;
}

/* Second Section: Quote Section */
.quote-section {
  /*background-color: #F0F0F0;*/
  background-color: #e8e8f1;
  padding: 100px 0;
  text-align: center;
  color: black;
  font-weight: 500;
}
.quote-section blockquote {
  font-size: 2em;
  font-family: "Inter", "Poppins", serif;
  margin: 0;
  padding: 0 250px;
}
/* Third Section: Title and Image Buttons */
.image-buttons-section {
  font-family: "Inter";
  padding: 50px 0;
  text-align: center;
}

.section-title {
  margin-bottom: 0px; /* Space between title and buttons */
}
.section-title h2 {
  font-size: 3.5em;
  font-weight: bold;
  color: #333; /* You can adjust the color */
}

/* Fourth Section: Create your profile */
.profile-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, #ffffff, white);
  height: 800px; /* Adjust height as needed */
  color: #333;
}
.content-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  text-align: center; /* Center text */
  padding-right: 20px;
}
.section-title-large {
  font-size: 3.5em;
  margin: 0 0 20px 0;
  font-weight: bold;
}
.section-subtext {
  font-size: 1.2em;
  margin-bottom: 20px;
}
.profile-button {
  /*background: linear-gradient(to right, #09203F ,  #537895);*/
  background: linear-gradient(to right, #2196f3, #90caf9);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Inter", "Poppins", serif;
}
.profile-button:hover {
  background: linear-gradient(to left, #2196f3, #90caf9);
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.content-right {
  flex: 1;
  display: flex;
  justify-content: center;
}
.profile-image {
  max-width: 100%;
  height: auto;
}
/* Fifth Section: 3 steps*/
.step-by-step-section {
  padding: 80px 0;
  text-align: center;
  background: linear-gradient(to bottom, #ffffff, #ffffff);
  height: 800px; /* Adjust height as needed */
  padding-top: 100px;
  color: #333;
}
.steps-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding-top: 40px;
  margin-left: 50px; /* Push sections slightly off the left edge */
  margin-right: 50px; /* Push sections slightly off the right edge */
}
.step {
  width: 32%; /* Same width for each step */
  height: 350px; /* Set height for consistency */
  background-color: rgba(0, 0, 0, 0.1); /* Light transparent background */
  border-radius: 10px;
  display: flex;
  flex-direction: column; /* Stack the text vertically */
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  cursor: pointer; /* Make it clickable */
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.step:hover {
  /*background: linear-gradient(to bottom, #D1EBFF, #FFFFFF);*/
  transform: scale(1.05); /* Slight scaling effect on hover */
}
.step h3 {
  font-size: 1.5em; /* Adjusted font size for better readability */
  font-weight: bold;
  color: #ffffff;
  font-family: "Inter", "Poppins", serif;
}
.step p {
  font-size: 1em;
  color: #ffffff;
  font-family: "Inter", "Poppins", serif;
  margin: 10px 0;
}
.learn-more {
  font-size: 1.1em;
  color: #ffffff;
  font-family: "Inter", "Poppins", serif;
  text-decoration: none;
  font-weight: bold;
}
.step-icon {
  width: 200px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 10px; /* Space between image and heading */
}
.step-icon2 {
  width: 180px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 10px; /* Space between image and heading */
}
.start {
  background: linear-gradient(to bottom, #2196f3, #90caf9);
}
.grow {
  background: linear-gradient(to bottom, #2196f3, #90caf9);
}
.fund {
  background: linear-gradient(to bottom, #2196f3, #90caf9);
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff; /* Set the background to white or your desired color */
  z-index: 9999; /* Ensure it appears above other elements */
}

.loading-screen h1 {
  margin-bottom: 20px;
  color: #333;
  font-size: 2rem;
}

.MuiCircularProgress-root {
  color: #3498db; /* Customize spinner color */
}
