@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

/* Navbar styles */
.navbar-container {
  position: relative; /* Allows absolute positioning of dropdown */
}
.navbar {
  display: flex;                  /* Flexbox for layout */
  justify-content: space-between; /* Space between logo and links */
  align-items: center;            /* Center items vertically */
  padding: 20px;                  /* Aesthetics padding */
  background-color: rgb(31,41,55);        /* Navbar background color */
  color: white;
  font-family: 'Inter', 'Poppins', serif;
}
ul li {
  margin: 0 40px;                 /* Space between links */
  display: flex;                  /* Flex container for li elements */
  align-items: center;            /* Center links inside li */
}
ul li a {
  text-decoration: none;          /* Remove underline from links */
  font-size: 1.2em;               /* Font size */
  display: block;                 /* Full width of li */
}
.logo {
  margin-right: 20px;
  border-radius: 50%; /* Makes the logo circular */
  overflow: hidden; /* Hides the parts outside the circular area */
  object-fit: cover; /* Ensures the image fills the circle area */
  height: 40px;
  width: 40px;
}
/* Nav link styles */
.nav-links {
  display: flex;                  /* Align links in a row */
  list-style: none;               /* Remove bullet points */
  margin: 0;                      /* Remove default margin */
  padding: 0;                     /* Remove default padding */
  font-weight: 500
}
.nav-links li {
  margin-left: 25px;              /* Space between links */
  position: relative;             /* For pseudo-element positioning */
}
.nav-links li::after {
  content: '';                    /* Create a pseudo-element */
  display: block;                 /* Block element */
  width: 0;                       /* Start with zero width */
  height: .5px;                   /* Line thickness */
  background-color: white;        /* Line color */
  position: absolute;             /* Relative to the li */
  left: 0;                        /* Align to the left */
  bottom: 0;                      /* Align to the bottom */
  transition: width 0.3s ease;   /* Smooth transition */
}
.nav-links li:hover::after {
  width: 100%;                    /* Expand to full width on hover */
}
/* Remove the line effect for the dropdown button */
.nav-links li:last-child::after {
  display: none;                  /* Do not display the line for the last child (dropdown button) */
}
